{:spec/version "0.1"
 :language "hara-l0"
 :intentional-differences
 #{:no-iseq-requirement
   :no-ratios
   :no-transducers
   :no-transduce
   :no-eduction
   :no-defrecord
   :no-deftype
   :no-defn-xt}
 :cases
 [{:id :reader/nil
   :class :reader
   :source "nil"
   :expect {:value nil :type :nil}}
  {:id :reader/bigint
   :class :reader
   :source "123N"
   :expect {:value "123" :type :big-integer :readable "123N"}}
  {:id :reader/bigdec
   :class :reader
   :source "123.45M"
   :expect {:value "123.45" :type :big-decimal :readable "123.45M"}}
  {:id :reader/quote
   :class :reader
   :source "'value"
   :expect {:form "(quote value)"}}
  {:id :compiler/arithmetic
   :class :compiler
   :source "(+ 19 23)"
   :expect {:value 42 :type :integer}}
  {:id :compiler/defn
   :class :compiler
   :source "(do (defn inc [x] (+ x 1)) (inc 41))"
   :expect {:value 42 :type :integer}}
  {:id :runtime/loop-recur
   :class :runtime
   :source "(loop [x 41] (if x (recur nil) 42))"
   :expect {:value 42 :type :integer}}
  {:id :runtime/destructuring
   :class :runtime
   :source "(let [{:keys [age]} {:age 41}] (+ age 1))"
   :expect {:value 42 :type :integer}}
  {:id :runtime/metadata
   :class :runtime
   :source "(protocol-call ILookup lookup (protocol-call IObjType meta (protocol-call IObjType with-meta (Person \"Ada\") {:doc \"person\"})) :doc)"
   :setup "(defstruct Person [name])"
   :expect {:value "person" :type :string}}
  {:id :runtime/dynamic-binding
   :class :runtime
   :source "(binding [*answer* 42] *answer*)"
   :setup "(def ^:dynamic *answer* 1)"
   :expect {:value 42 :type :integer}}
  {:id :runtime/set-var-root
   :class :runtime
   :source "(do (def answer 1) (set! answer 42) answer)"
   :expect {:value 42 :type :integer}}
  {:id :iterator/core
   :class :iterator
   :source "(let [it (iter [1 2])] (iter-next it))"
   :expect {:value 1 :type :integer}}
  {:id :iterator/concat
   :class :iterator
   :source "(let [it (concat [1] [2])] (iter-next it) (iter-next it))"
   :expect {:value 2 :type :integer}}
  {:id :iterator/combinators
   :class :iterator
   :source "(let [it (iter-map (fn [x] (* x 2)) [1 2])] (iter-next it))"
   :expect {:value 2 :type :integer}}
  {:id :function/apply
   :class :function
   :source "(defn sum3 [a b c] (+ a b c)) (apply sum3 1 [2 3])"
   :expect {:value 6 :type :integer}}
  {:id :module/resource
   :class :module
   :source "(load-resource \"hara/l0-resource.hara\")"
   :expect {:value 42 :type :integer}}
  {:id :collection/bytes
   :class :collection
   :source "(protocol-call INth nth (bytes 1 2 -3) 2)"
   :expect {:value -3 :type :byte}}
  {:id :mutable/array-set
   :class :runtime
   :source "(let [a (x:array 1 2)] (x:set a 1 7) (x:get a 1))"
   :expect {:value 7 :type :integer}}
  {:id :mutable/array-slice
   :class :runtime
   :source "(x:len (x:slice (x:array 1 2 3) 1 3))"
   :expect {:value 2 :type :integer}}
  {:id :module/namespace-alias
   :class :module
   :source "(ns target) (def answer 42) (ns user) (alias t target) t/answer"
   :expect {:value 42 :type :integer}}
  {:id :module/namespace-refer
   :class :module
   :source "(ns target) (def answer 42) (ns user) (refer \"target\") answer"
   :expect {:value 42 :type :integer}}
  {:id :module/in-ns-use
   :class :module
   :source "(in-ns 'target) (def answer 42) (in-ns 'user) (use 'target) answer"
   :expect {:value 42 :type :integer}}
  {:id :numeric/compare
   :class :numeric
   :source "(< 1N 2N)"
   :expect {:value true :type :boolean}}
  {:id :numeric/mod
   :class :numeric
   :source "(mod 7 3)"
   :expect {:value 1 :type :integer}}
  {:id :numeric/negative-zero
   :class :numeric
   :source "(= -0.0 0.0)"
   :expect {:value true :type :boolean}}
  {:id :numeric/decimal-scale
   :class :numeric
   :source "(= 1.0M 1.00M)"
   :expect {:value true :type :boolean}}
  {:id :protocol/struct-extension
   :class :protocol
   :source "(protocol-call ICount count (Box 4))"
   :setup "(defstruct Box [size]) (extend-type Box ICount (count [self] (field self :size)))"
   :expect {:value 4 :type :integer}}
  {:id :interop/host-denied
   :class :interop
   :source "(host-symbol \"java.lang.String\")"
   :expect {:error :host-interop-disabled}}
  {:id :unsupported/ratio
   :class :unsupported
   :source "1/2"
   :expect {:error :ratio-not-supported}}]}
